__mocks__
android
coverage
ios
node_modules
src
storybook

app.json
tsconfig.build.json
tsconfig.json

babel.config.js
commitlint.config.js
jest.config.js
metro.config.js

index.js
yarn.lock

.vscode
.github
.husky
.jest
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.watchmanconfig
